
:root {
    --brand_color: #7CA2F4;
    --dark: #121214;
    --white_soft: #F3F7FF;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
width: 415px;
height: 100%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: #fa7a1ed3;
}
.topo{
position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    background-image: url(../images/topo-pq.png);
  background-size:auto;
    background-repeat: no-repeat;


    background-color: var(--white_soft);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.botoes{
    margin: auto;
    padding: 20px;
    display: flex;
       justify-content: center;
       flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        

}
button{
    background-color: #f3f7ff0f;
    color:#ffd900;
    width: 78px;
    height: 40px;
    padding: 2px;
    font-size: 13px;
    border-radius: 30px;
}
button:hover{
    cursor: pointer;
    border: tomato;
    box-shadow: 0px 5px 5px #fa7a1eb3;
   background-color: #f3f7ff5f;
    

}
main{
    margin-top: 150px;
    border: 1px solid black;
   display: flex;
   flex-direction: column;
    align-items: center

}


.imgcont {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

 
  .secao {
      display:none ;
  }

  .secao.ativa {
      display: block;
  }
    
.nomeQuant{
    display: flex;
    align-items: center;
    justify-content: center;
  flex-wrap: wrap;
}h3 {
   

}
h2{
    margin-top: 20px;
}

ul{
    width: 100px;
    display: flex;
 flex-direction: column;   
 font-size: 14px;
 gap: 5px;

}
li {
background: linear-gradient(to right, rgba(255, 99, 71, 0.579), rgba(255, 99, 71, 0.015));
    padding: 1px;
}
p{
    font-size: 14px;
    padding: 1px;
}

  
  .menushow{
   
    margin-bottom: 180px;
  }

.prato{
    margin-top: 40px;
    background: linear-gradient(to right, rgba(255, 99, 71, 0.576),rgba(255, 99, 71, 0.006));
}
img{
    display: block;
   
}
